.container{
    margin: 50px 0;
    
}
.card {
    margin: 0 2% !important;
    background-color: green;
}

.infected{
    border-bottom: 10px solid rgba(0, 0, 255,  0.5 );
}
.recovered{
    border-bottom: 10px solid rgba(53, 231, 8, 0.5);
}
.deaths{
    border-bottom: 10px solid rgba(240, 8, 8, 0.5);
}
@media (max-width : 770px){
    .card{
        margin: 2% 0 !important;
    }
}